# System files
# ------------

Icon
.DS_Store

# Editors
# (sensitive workspace files)
# ---------------------------

*.sublime-workspace
/.vscode
/.idea

# Node Modules
# ---------------

/node_modules

# Lock files
# ---------------

.lock
.dev

# Kirby Core
# ---------------

/kirby
/vendor

# Plugins
# ---------------

/site/plugins/*
!/site/plugins/custom

# Frontend
# ---------------

/public/assets/
/public/dist/

# Temporary files
# ---------------

/storage/media/*
/public/media/*
/public/media

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# ---------------

/storage/cache/*
!/storage/cache/index.html

# Accounts
# ---------------

/storage/accounts/*
!/storage/accounts/index.html

# Sessions
# ---------------

/storage/sessions/*
!/storage/sessions/index.html

# Logs
# ---------------

/storage/logs/*
!/storage/logs/index.html

# License
# ---------------

/site/config/.license

# ENV configs
# ---------------

/site/config/env.php
